[diff]
	algorithm = histogram

# デフォルトのgitconfig
[user]
	name = dullwhale
	email = dullwhale@gmail.com

# OSS、個人開発用
[includeIf "gitdir:~/repo/oss/"]
	path = ~/.gitconf.d/oss
[includeIf "gitdir:~/win-repo/oss/"]
	path = ~/.gitconf.d/oss

# 仕事用
[includeif "gitdir:~/repo/work/"]
	path = ~/.gitconf.d/work
[includeif "gitdir:~/win-repo/work"]
	path = ~/.gitconf.d/work

